<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NCL Coding Challenge Test suite">

	<test name="ncl.com testing on Chrome">
		<parameter name="browser" value="IE"></parameter>
		<classes>
			<class name="testCases.HomePageTest" />
		</classes>

	</test> <!-- Test -->

</suite> <!-- Suite -->